@media only screen and (max-width:1024px) {
	.section-header h2 {
		font-size: 30px !important;
		color: #b9b9b9;
	}
	
	.section-header span {
		display: block;
		margin-top: 10px !important;
		text-align: center;
		position: relative;
	}

	.section-header span::before {
		position: absolute;
		content: "";
		width: 5% !important;
		height: 3px !important;
		background: #b5b5b5;
		left: 47%;
		margin-left: -6% !important;
		bottom: 10px;
	}

	.section-header span::after {
		position: absolute;
		content: "";
		width: 5% !important;
		height: 3px !important;
		background: #b5b5b5;
		right: 47%;
		margin-right: -6% !important;
		bottom: 10px;
	}
	
	.section-header .mid-ico {
		color: #898989;
		font-size: 18px !important;
	}

}

@media only screen and (max-width:768px) {
	.nav-link {
		font-size: 12px !important;
		text-transform: uppercase;
	}
	.section-header h2 {
		font-size: 25px !important;
		color: #b9b9b9;
	}
	
	.section-header span {
		display: block;
		margin-top: 10px !important;
		text-align: center;
		position: relative;
	}

	.section-header span::before {
		position: absolute;
		content: "";
		width: 8% !important;
		height: 3px !important;
		background: #b5b5b5;
		left: 47%;
		margin-left: -10% !important;
		bottom: 10px;
	}

	.section-header span::after {
		position: absolute;
		content: "";
		width: 8% !important;
		height: 3px !important;
		background: #b5b5b5;
		right: 47%;
		margin-right: -10% !important;
		bottom: 10px;
	}
	
	.section-header .mid-ico {
		color: #898989;
		font-size: 18px !important;
	}
	
	p, a {
		font-size: 15px !important;
	}
	
	.header h1 {
		text-align: center;
		color: #000;
		font-size: 25px !important;
		margin-top: 40px;
		margin-bottom: 25px;
		text-transform: uppercase;
	}
	
	.expert h2 {
		font-size: 20px !important;
	}
	
	#service h5 {
		font-size: 14px !important;
	}
	
}

@media only screen and (max-width:600px) {
	.nav-link {
		font-size: 12px !important;
		text-transform: uppercase;
	}
	.section-header h2 {
		font-size: 22px !important;
		color: #b9b9b9;
	}
	
	.section-header span {
		display: block;
		margin-top: 10px !important;
		text-align: center;
		position: relative;
	}

	.section-header span::before {
		position: absolute;
		content: "";
		width: 8% !important;
		height: 3px !important;
		background: #b5b5b5;
		left: 47%;
		margin-left: -10% !important;
		bottom: 10px;
	}

	.section-header span::after {
		position: absolute;
		content: "";
		width: 8% !important;
		height: 3px !important;
		background: #b5b5b5;
		right: 47%;
		margin-right: -10% !important;
		bottom: 10px;
	}
	
	.section-header .mid-ico {
		color: #898989;
		font-size: 18px !important;
	}
	
	p, a {
		font-size: 14px !important;
	}
	
	.header h1 {
		text-align: center;
		color: #000;
		font-size: 25px !important;
		margin-top: 40px;
		margin-bottom: 25px;
		text-transform: uppercase;
	}
	
	.expert h2 {
		font-size: 20px !important;
	}
	
	#service h5 {
		font-size: 14px !important;
	}
	
}

@media only screen and (max-width:480px) {
	.nav-link {
		font-size: 12px !important;
		text-transform: uppercase;
	}
	
	.section-header h2 {
		font-size: 22px !important;
		color: #b9b9b9;
	}
	
	.section-header span {
		display: block;
		margin-top: 10px !important;
		text-align: center;
		position: relative;
	}

	.section-header span::before {
		position: absolute;
		content: "";
		width: 10% !important;
		height: 2px !important;
		background: #b5b5b5;
		left: 47%;
		margin-left: -15% !important;
		bottom: 10px;
	}

	.section-header span::after {
		position: absolute;
		content: "";
		width: 10% !important;
		height: 2px !important;
		background: #b5b5b5;
		right: 47%;
		margin-right: -15% !important;
		bottom: 10px;
	}
	
	.section-header .mid-ico {
		color: #898989;
		font-size: 15px !important;
	}
	
	p, a {
		font-size: 13px !important;
	}
	
	.header h1 {
		text-align: center;
		color: #000;
		font-size: 25px !important;
		margin-top: 40px;
		margin-bottom: 25px;
		text-transform: uppercase;
	}
	
	.expert h2 {
		font-size: 18px !important;
	}
	
	#service h5 {
		font-size: 16px !important;
	}
	
}

@media only screen and (max-width:360px) {
	.nav-link {
		font-size: 12px !important;
		text-transform: uppercase;
	}
	
	.section-header h2 {
		font-size: 22px !important;
		color: #b9b9b9;
	}
	
	.section-header span {
		display: block;
		margin-top: 10px !important;
		text-align: center;
		position: relative;
	}

	.section-header span::before {
		position: absolute;
		content: "";
		width: 10% !important;
		height: 2px !important;
		background: #b5b5b5;
		left: 47%;
		margin-left: -15% !important;
		bottom: 10px;
	}

	.section-header span::after {
		position: absolute;
		content: "";
		width: 10% !important;
		height: 2px !important;
		background: #b5b5b5;
		right: 47%;
		margin-right: -15% !important;
		bottom: 10px;
	}
	
	.section-header .mid-ico {
		color: #898989;
		font-size: 15px !important;
	}
	
	p, a {
		font-size: 13px !important;
	}
	
	.header h1 {
		text-align: center;
		color: #000;
		font-size: 25px !important;
		margin-top: 40px;
		margin-bottom: 25px;
		text-transform: uppercase;
	}
	
	.expert h2 {
		font-size: 18px !important;
	}
	
	#service h5 {
		font-size: 14px !important;
	}
	
}

@media only screen and (max-width:320px) {
	.nav-link {
		font-size: 12px !important;
		text-transform: uppercase;
	}
	
	.section-header h2 {
		font-size: 22px !important;
		color: #b9b9b9;
	}
	
	.section-header span {
		display: block;
		margin-top: 10px !important;
		text-align: center;
		position: relative;
	}

	.section-header span::before {
		position: absolute;
		content: "";
		width: 10% !important;
		height: 2px !important;
		background: #b5b5b5;
		left: 47%;
		margin-left: -15% !important;
		bottom: 10px;
	}

	.section-header span::after {
		position: absolute;
		content: "";
		width: 10% !important;
		height: 2px !important;
		background: #b5b5b5;
		right: 47%;
		margin-right: -15% !important;
		bottom: 10px;
	}
	
	.section-header .mid-ico {
		color: #898989;
		font-size: 15px !important;
	}
	
	p, a {
		font-size: 13px !important;
	}
	
	.header h1 {
		text-align: center;
		color: #000;
		font-size: 25px !important;
		margin-top: 40px;
		margin-bottom: 25px;
		text-transform: uppercase;
	}
	
	.expert h2 {
		font-size: 18px !important;
	}
	
	#service h5 {
		font-size: 14px !important;
	}
}